.p3{
	color: #F2DC5D;
}
*{
	font-family: "Courier New", monospace;
	font-size: 20px;
}
h1{
	font-size: 40px;
}
#h2{
	text-transform: uppercase;
}
.h3{
	background-color: #FFFD82;
}

.tools{	
	border-color: #048BA8;
	border-width: 1px;
	border-style: solid;
	
}
h3 + img{
	height: 200px;
	width: 200px;
	border-radius: 150px;
}
body img{
	color: lightyellow;
	height: 20vh;
	width: 20vh;
	border-radius: 120px;
}
section > ul{
	letter-spacing: 7px;

}


section ~ h4{
	text-align: center;
}